<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Reset CSS -->
  <link rel="stylesheet" href="../../css/reset.css"/>
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../../vendor/bootstrap/bootstrap.min.css">

  <!-- Icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  <!-- Bootstrap icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

  <!-- CSS -->
  <link rel="stylesheet" href="../../css/base.css">
  <link rel="stylesheet" href="../../css/style.css">
  <title>Header</title>
</head>
<body>
  <!-- Header -->
  <header class="header">
    <!-- Top header -->
     <div class="Top-header">
      <div class="container">
        <div class="inner-wrap">
          <ul class="inner-list list-left">
            <li>
              <a href="#">Tin tức & Sự kiện</a>
            </li>
            <li>
              <a href="#">Thông báo</a>
            </li>
            <li>
              <a href="#">Văn bản</a>
            </li>
            <li>
              <a href="#">Lịch tuần</a>
            </li>
            <li>
              <a href="#">Danh bạ</a>
            </li>
            <li>
              <a href="#">Liên hệ</a>
            </li>
          </ul>
          <ul class="inner-list list-right">
            <li>
              <a href="#">
                Khoa
              </a>
              <ul class="select-hover">
                <li>
                  <a href="http://dut.udn.vn/KhoaNhietDL" target="_blank">Công nghệ Nhiệt - Điện lạnh</a>
                </li>
                <li>
                  <a href="http://www.dut.udn.vn/KhoaCNTT" target="_blank">Công nghệ Thông tin</a>
                </li>
                <li>
                  <a href="http://cokhi.dut.udn.vn/" target="_blank">Cơ khí</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">
                Phòng
              </a>
              <ul class="select-hover">
                <li>
                  <a href="/Phong/CTSV">Công tác sinh viên</a>
                </li>
                <li>
                  <a href="/Phong/Vatchat">Cơ sở vật chất</a>
                </li>
                <li>
                  <a href="/Phong/Daotao">Đào tạo</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">
                <img src="../../assets/images/top/flag-english.png" alt="flag-english">
                <span>English</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
     </div>
    <!-- End Top header -->
    <!-- Main header -->
      <div class="main-header">
        <div class="container">
          <div class="inner-wrap">
            <div class="inner-logo">
              <a href="/">
                <img src="../../assets/images/top/logo-k_cntt.png" alt="logo">
              </a>
            </div>
            <div class="inner-search">
              <form action="#" class="form-search">
                <input type="text" placeholder="Tìm kiếm thông tin"> 
                <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
              </form>
            </div>
          </div>
        </div>
      </div>
    <!-- End Main header -->
    <!-- Top bar -->
      <div class="top-bar">
        <div class="container">
          <div class="inner-wrap">
            <ul class="inner-list">
              <li>
                <a href="../center/page-side-bar/infor.html" target="T3">
                  Trang Chủ
                </a>
              </li>
              <li>
                <a href="../center/page-side-bar/login.html" target="T3">
                  Login
                </a>
              </li>
              <li>
                <a href="../center/page-side-bar/with.html" target="T3">
                  With
                </a>
              </li>
              <li>
                <a href="../center/page-side-bar/focusBlur.html" target="T3">
                  Focus Và Blur
                </a>
              </li>
              <li>
                <a href="../center/page-side-bar/selectBox.html" target="T3">
                  Select Box 1
                </a>
              </li>
              <li>
                <a href="../center/page-side-bar/selectBox2.html" target="T3">
                  Select Box 2
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <!-- End top bar -->
  </header>
  <!-- End Header -->
  
  <script src="../../vendor/bootstrap/jquery.slim.min.js"></script>
  <script src="../../vendor/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="../../js/form.js"></script>
  <script src="../../js/main.js"></script>
</body>
</html>