<!-- Side bar -->

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Reset CSS -->
  <link rel="stylesheet" href="../../css/reset.css"/>
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../../vendor/bootstrap/bootstrap.min.css">

  <!-- Icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  <!-- Bootstrap icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

  <!-- CSS -->
  <link rel="stylesheet" href="../../css/base.css">
  <link rel="stylesheet" href="../../css/style.css">
  <title>Header</title>
</head>
<body>
  <!-- End side bar -->
  <div class="side-bar">
    <div class="inner-wrap">
      <table class="menu-table">
        <thead>
          <tr>
            <th>MENU BÀI TẬP</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="./page-side-bar/infor.html" target="T3">Trang Chủ</a></td>
          </tr>
          <tr>
            <td><a href="./page-side-bar/login.html" target="T3">Bài Xử Lý Lỗi Đăng nhập</a></td>
          </tr>
          <tr>
            <td><a href="./page-side-bar/with.html" target="T3">Bài Đối Tượng With</a></td>
          </tr>
          <tr>
            <td><a href="./page-side-bar/focusBlur.html" target="T3">Bài Focus Và Blur</a></td>
          </tr>
          <tr>
            <td><a href="./page-side-bar/selectBox.html" target="T3">Bài Select Box 1</a></td>
          </tr>
          <tr>
            <td><a href="./page-side-bar/selectBox2.html" target="T3">Bài Select Box 2</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- End side bar -->
  
  <script src="../../vendor/bootstrap/jquery.slim.min.js"></script>
  <script src="../../vendor/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="../../js/form.js"></script>
  <script src="../../js/main.js"></script>
</body>
</html>

